body {
  background-color: #DEB887;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6 color: #000000
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em font-weight: 400;
}

a {
  color: #191970;
  text-decoration: none;
}

a:hover {
  color: #DEB887;
  text-decoration: underline;
}

a:visited {
  color: #008080;
}

a:active {
  color: #191970;
}

<a href="#"class="button">Read More</a>.button {
  display: inline-block;
  background-color: #DEB887;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

<a href="brownjarvis21@gmail.com"class="button contact">Email Me</a>.button.contact {
  background-color: transparent;
  color: #DEB887;
  text-transform: uppercase;
  border: 2px solid #DEB887;
}

.button.contact:hover {
  background-color: #DEB887;
  color: #ffffff;
}
